
.general-list{
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: top;
	padding: 20px;
}

.pokemon-card{
	display: block;
  width: 250px;
  margin: 10px;
  background-color: white;
}
