*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
	background-color: #F5F5DC;
  background-image: url('../images/Pikachu_Face_2048x2048.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
}

.App{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	max-width: 100%;
}
.App-main{
	grid-column: span 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.browser{
  width: 100%;
}

.browser__input{
  width: 70%;
  display: block;
  margin: auto;
  border: 0;
  padding: 10px;
  color: lightgrey;
  -webkit-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}
